
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.92rem;
  font-style: normal;
}


.wrapper .colored-border {
  height: 0.3rem;
  background: rgb(14, 86, 14);
}

.wrapper .icon img {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: baseline;
  max-width: 4rem;
}

.wrapper .top-nav {
  background: rgb(68, 149, 118);
  padding: 0 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
  max-width: 80%;
  position: relative;
  overflow-x: hidden;
}

.wrapper .top-nav .left {
  display: flex;
  align-items: center;
  max-width: 7rem;
}

.wrapper .top-nav .left .logo p {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Arial Black';
  color: rgb(9, 63, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-right: 1em;
  padding-left: 1em;
}

.wrapper .top-nav .search-container input[type="text"] {
  border: 1mm ridge rgba(139, 139, 139, 0.6);
  border-style: inset;
  padding-right: 1em;

}

.wrapper .top-nav .search-container input[type="text"]:focus {
  border-color: rgb(0, 20, 244);
  border-style: inset;
  border: 1mm ridge rgba(100, 214, 255, 0.6);
}

.wrapper .top-nav .search-container button[type="submit"] {
  border: 1mm ridge rgba(114, 114, 114, 0.6);
  border-style: inset;
  width: fit-content;
  height: fit-content;
}

.wrapper .top-nav .right ul {
  display: flex;
}

.wrapper .top-nav .right ul li {
  margin: 0 1em;
}

.wrapper .top-nav .right ul li:nth-last-child(3) {
  margin-right: 0;
  border-radius: 1em;
}

.wrapper .top-nav .right ul li:nth-last-child(3) a {
  display: block;
  padding: 0.5rem 0.625px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(3) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:nth-last-child(2) {
  margin-right: 0;
  border-radius: 1em;
}

.wrapper .top-nav .right ul li:nth-last-child(2) a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(2) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:last-child {
  margin-right: 0;
  border-radius: 0.5rem;
}

.wrapper .top-nav .right ul li a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:last-child a {
  color: #000000;
}

.wrapper .top-nav .right ul li:hover:last-child a {
  color: #fff;
  background: #ff002f
}

.wrapper .bottom-nav {
  max-width: 80%;
  height: 4rem;
  border-style: solid;
  background: rgb(50, 131, 100);
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.wrapper .bottom-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom-nav li {
  margin: 0 2rem;
  border-right-color: #000;

}

.wrapper .bottom-nav ul li:nth-last-child(4) {
  color: black;
  border: 2.5mm ridge rgba(3, 22, 18, 0.6);
  background-color: rgb(101, 224, 199);
  padding-block: 0.5rem;
}

.wrapper .bottom-nav ul li:nth-last-child(4) a {
  display: block;
  padding: 1px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(4) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:nth-last-child(3) {
  color: black;
  border: 2.5mm ridge rgba(3, 22, 18, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:nth-last-child(3) a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(3) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
  
}

.wrapper .bottom-nav ul li:nth-last-child(2) {
  color: black;
  border: 2.5mm ridge rgba(3, 22, 18, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:nth-last-child(2) a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(2) a {
  color: #0b0b0b;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:last-child {
  color: white;
  border: 2.5mm ridge rgba(3, 22, 18, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:last-child a {
  display: block;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:last-child a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.content .background {
  background-color: #0c4f28;
  width: 80%; 
  height: 80vh;
  margin: 0 auto;
  float: center;
  background-size: 10rem 10rem;
  position: relative;
}

footer {
        position: relative;
        height: 3em;
        width: 80%;
        background-color:  rgb(50, 131, 100);
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #000000;
        line-height: 40px;
        font-size: 15px;
        text-align: center;
        bottom:0;
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  * {
  margin: 1;
  padding: 0 3;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  }

  .wrapper .colored-border {
  height: 0.3rem;
  background: rgb(14, 86, 14);
  }

  .wrapper .icon img {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-evenly;
  max-width: 3.5rem;
  }

  .wrapper .top-nav {
  background: rgb(68, 149, 118);
  padding: 0 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
  max-width: 100%;
  position: absolute;
}

  .wrapper .top-nav .left {
  display: flex;
  align-items: center;
  max-width: 4rem;
  }

.wrapper .top-nav .left .logo p {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Arial Black';
  color: rgb(9, 63, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-right: 1rem;
  padding-left: 1rem;
}

.wrapper .top-nav .mobile-search button[type="submit"] {
  padding-left: 1rem;
  padding-right: 0rem;
  width: 100%;

}

.wrapper .top-nav .search-container input[type="text"]:focus {
  border-color: rgb(0, 20, 244);
  border-style: inset;
  border: 1mm ridge rgba(100, 214, 255, 0.6);
}

.wrapper .top-nav .search-container button[type="submit"] {
  border: 1mm ridge rgba(114, 114, 114, 0.6);
  border-style: inset;
  width: fit-content;
  height: fit-content;
}

.wrapper .top-nav .right ul {
  display: flex;
}

.wrapper .top-nav .right ul li {
  margin: 0 2rem;
}

.wrapper .top-nav .right ul li:nth-last-child(3) {
  margin-right: 2rem;
  border-radius: 1em;
}

.wrapper .top-nav .right ul li:nth-last-child(3) a {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(3) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:nth-last-child(2) {
  margin-right: 2rem;
  border-radius: 1rem;
}

.wrapper .top-nav .right ul li:nth-last-child(2) a {
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(2) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:last-child {
  margin-right: 2rem;
  border-radius: 0.5rem;
  padding-right: 5rem;
}

.wrapper .top-nav .right ul li a {
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:last-child a {
  color: #000000;
}

.wrapper .top-nav .right ul li:hover:last-child a {
  color: #fff;
  background: #ff002f
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.74rem;
  font-style: normal;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.96rem;
  font-style: normal;
  }
}