
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-weight: 400;
  font-style: normal;
}

.body {
  margin: 0;
}

.wrapper .colored-border {
  height: 5px;
  background: rgb(33, 76, 33);
}

.wrapper .icon img {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  padding-right: 5px;
  width: 60px;
}

.wrapper .top-nav {
  height: 65px;
  background: rgb(130, 216, 130);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.wrapper .top-nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top-nav .left .logo p {
  background: linear-gradient(
  90deg,
  #9c00ff,
  #ff0000,
  #ff8800,
  #ffff00,
  #02be02,
  #0000ff,
  #4f00ff,
  #9c00ff
);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Arial Black', sans-serif;
  text-shadow: rgb(255, 255, 255) -1px -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-right: 25px;
}

.wrapper .top-nav .search-container input[type="text"] {
  border: 1mm ridge rgba(222, 222, 221, 0.6);
  border-style: inset;
  height: 25px;

}

.wrapper .top-nav .search-container input[type="text"]:focus {
  border-color: gray;
  border-style: inset;
  border: 1mm ridge rgba(155, 245, 120, 0.6);
}

.wrapper .top-nav .search-container button[type="submit"] {
  border-color: rgb(240, 235, 235);
  border-style: inset;
  width: fit-content;
  height: 20px;
}

.wrapper .top-nav .right ul {
  display: flex;
}

.wrapper .top-nav .right ul li {
  margin: 0 12px;
}

.wrapper .top-nav .right ul li:nth-last-child(3) {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li:nth-last-child(3) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(3) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:nth-last-child(2) {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li:nth-last-child(2) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(2) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:last-child {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:last-child a {
  color: #000000;
}

.wrapper .top-nav .right ul li:hover:last-child a {
  color: #fff;
  background: #ff002f
}

.wrapper .bottom-nav {
  width: 100%;
  height: 65px;
  border-style: solid;
  background: rgba(0, 124, 47, 0.6);
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.wrapper .bottom-nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom-nav li {
  margin: 0 10px;
  border-right-color: #000;

}

.wrapper .bottom-nav ul li:nth-last-child(4) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(226, 161, 227);
  padding-block: 7px;
}

.wrapper .bottom-nav ul li:nth-last-child(4) a {
  display: block;
  padding: 1px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(4) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:nth-last-child(3) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(110, 223, 180);
}

.wrapper .bottom-nav ul li:nth-last-child(3) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(3) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
  
}

.wrapper .bottom-nav ul li:nth-last-child(2) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(85, 157, 234);
}

.wrapper .bottom-nav ul li:nth-last-child(2) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(2) a {
  color: #0b0b0b;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:last-child {
  color: white;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(221, 156, 35);
}

.wrapper .bottom-nav ul li:last-child a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:last-child a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.homepage .background-image {
  background-image: url(green_bg_hp.png);
  width: 100vw;
  height: 100vh; 
  background-size: 10% 10%;
  background-repeat: repeat;
  background-position: cover;
  position: relative;
}

.homepage .content-1 {
  display: flex;
  border: 1.5mm ridge rgba(1, 41, 18, 0.6);
  box-sizing: border-box;
  height: 80%;
  width: 75%;
  position: absolute;
  color: rgb(0, 0, 0); 
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  text-align: justify;
  background-color: white;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 10px;
}