
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-weight: 400;
  font-style: normal;
}

.body {
  margin: 0;
  min-height: 100%;
}

.wrapper .colored-border {
  height: 5px;
  background: rgb(14, 86, 14);
}

.wrapper .icon img {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  padding-right: 5px;
  width: 60px;
}

.wrapper .top-nav {
  height: 65px;
  background: rgb(68, 149, 118);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.wrapper .top-nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top-nav .left .logo p {
  background: linear-gradient(
  90deg,
  #0c6f2d,
  #076489,
  #00ffbf,
  #0055ff,
  #0b4bca,
  #0059df,
  #0da34e,
  #00ff22
);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Arial Black', sans-serif;
  text-shadow: rgb(255, 255, 255) -1px -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-right: 25px;
  padding-left: 20px;
}

.wrapper .top-nav .search-container input[type="text"] {
  border: 1mm ridge rgba(23, 164, 61, 0.6);
  border-style: inset;
  height: 25px;

}

.wrapper .top-nav .search-container input[type="text"]:focus {
  border-color: rgb(139, 125, 125);
  border-style: inset;
  border: 1mm ridge rgba(155, 245, 120, 0.6);
}

.wrapper .top-nav .search-container button[type="submit"] {

  border: 1mm ridge rgba(23, 164, 61, 0.6);
  border-style: inset;
  width: fit-content;
  height: 25px;
  width: 60px;
}

.wrapper .top-nav .right ul {
  display: flex;
}

.wrapper .top-nav .right ul li {
  margin: 0 12px;
}

.wrapper .top-nav .right ul li:nth-last-child(3) {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li:nth-last-child(3) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(3) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:nth-last-child(2) {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li:nth-last-child(2) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:hover:nth-last-child(2) a {
  color: #ffffff;
  background: #126736
}

.wrapper .top-nav .right ul li:last-child {
  margin-right: 0;
  border-radius: 2px;
}

.wrapper .top-nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
}

.wrapper .top-nav .right ul li:last-child a {
  color: #000000;
}

.wrapper .top-nav .right ul li:hover:last-child a {
  color: #fff;
  background: #ff002f
}

.wrapper .bottom-nav {
  width: 100%;
  height: 65px;
  border-style: solid;
  background: rgb(50, 131, 100);
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.wrapper .bottom-nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom-nav li {
  margin: 0 10px;
  border-right-color: #000;

}

.wrapper .bottom-nav ul li:nth-last-child(4) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(101, 224, 199);
  padding-block: 7px;
}

.wrapper .bottom-nav ul li:nth-last-child(4) a {
  display: block;
  padding: 1px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(4) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:nth-last-child(3) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:nth-last-child(3) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(3) a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
  
}

.wrapper .bottom-nav ul li:nth-last-child(2) {
  color: black;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 53, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:nth-last-child(2) a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:nth-last-child(2) a {
  color: #0b0b0b;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.wrapper .bottom-nav ul li:last-child {
  color: white;
  font-size: 15px;
  border-left: 2mm ridge rgba(3, 22, 18, 0.6);
  border-left-width: 3ch;
  border-right: 2mm ridge rgba(3, 22, 18, 0.6);
  border-right-width: 3ch;
  border-top: 2mm ridge rgba(0, 114, 18, 0.6);
  border-bottom: 2mm ridge rgba(0, 114, 90, 0.6);
  background-color: rgb(101, 224, 199);
}

.wrapper .bottom-nav ul li:last-child a {
  display: block;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper .bottom-nav ul li:hover:last-child a {
  color: #000000;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px #ffffff;
}

.homepage .background-image {
  background-image: url(/images/trees.png);
  width: 100vw;
  height: 100vh; 
  background-size: 10% 10%;
  background-repeat: repeat;
  background-position: cover;
  position: relative;
}

.homepage .sub-content-box-1 {
  display: inline-block;
  border-top: 4mm ridge #0a8608;
  border-bottom: 2mm ridge  #0a8608;
  border-left: 2mm ridge  #0a8608;
  border-right: 2mm ridge  #0a8608;
  font-size: 13px;
  box-sizing: border-box;
  width: 30%;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  top: 20%;
  background: url(/images/clovers.png);
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 20px;
  color: rgb(15, 182, 123);
  word-wrap: break-word;
  white-space: pre-wrap;
}

.homepage .sub-content-box-1 p {
  font-size: medium;
  transform: translateX(-10%);
  justify-content: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.homepage .sub-content-box-2 {
  display: inline-block;
  border-top: 4mm ridge #0a8608;
  border-bottom: 2mm ridge  #0a8608;
  border-left: 2mm ridge  #0a8608;
  border-right: 2mm ridge  #0a8608;
  font-size: 13px;
  box-sizing: border-box;
  width: 30%;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  top: 60%;
  background: url(/images/clovers.png);
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 20px;
  color: rgb(15, 182, 123);
  word-wrap: break-word;
  white-space: pre-wrap;
}

.homepage .sub-content-box-2 p {
  font-size: medium;
  transform: translateX(-10%);
  justify-content: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.homepage .background-image footer {
  font-size: medium;
  transform: translateX(-10%);
  justify-content: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.homepage .sub-content-box-3 img {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  justify-content: space-between;
  padding-right: 5px;
  width: 60px;
}